:root {
    --border-radius: 5px;
    --box-shadow: 0 0 2px 0;
}

.task-card {
    margin: auto !important;
    float: none !important;
}

.task-card .task-owner-image {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: -6px;
}

.task-card i, .task-card .task-name {
    cursor: pointer;
}