:root {
    --border-radius: 5px;
    --box-shadow: 0 0 2px 0;
}

.task-card, .card {
    margin: auto !important;
    float: none !important;
}

.task-wrapper {
  margin-bottom: 2rem;
}

.task-card .task-owner-image {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: -6px;
}

.task-card i, .task-card .task-name {
    cursor: pointer;
}

.card-title {
  display: flex;
  height: 2.5rem;
  align-items: center;
}

.card-title .delete-button {
  margin-left: auto;
}

.modal-window {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}